body {
  background-color: #efeee7;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #333333;
  margin:0;
  padding:0;
  }

  h1 {
  background-color: #333333;
  text-align: center;
  color: #eee;
  padding: 20px;
  size: 28px;
  margin:0;
}

h2 {
  size: 24px;
  }

a {
  color: #d21034;
}

.container{
    width: 1024px;
    margin:0 auto;
}

#bio-image{
    width:200px;
    height:200px;
}


 
